<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.mapper.CatMapper">

    <resultMap type="Cat" id="CatResult">
        <result property="id"    column="id"    />
        <result property="breedId"    column="breed_id"    />
        <result property="birthDate"    column="birth_date"    />
        <result property="haveDate"    column="have_date"    />
        <result property="primeCost"    column="prime_cost"    />
        <result property="url"    column="url"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="breedName"    column="breed_name"    />
        <result property="category"    column="category"    />
    </resultMap>

    <sql id="selectCatVo">
        SELECT
            a.id,
            a.breed_id,
            a.birth_date,
            a.have_date,
            a.prime_cost,
            a.url,
            a.state,
            a.create_by,
            a.create_time,
            a.update_by,
            a.update_time,
            a.remark,
            b.breed_name,
            if( b.category=1,'英短','美短') as category
        FROM
            fy_pet_cat a
                LEFT JOIN fy_pet_breed b ON a.breed_id=b.id     </sql>

    <select id="selectCatList" parameterType="Cat" resultMap="CatResult">
        <include refid="selectCatVo"/>
        <where>
            <if test="birthDate != null "> and birth_date = #{birthDate}</if>
            <if test="haveDate != null "> and have_date = #{haveDate}</if>
            <if test="primeCost != null "> and prime_cost = #{primeCost}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
        </where>
    </select>

    <select id="selectCatById" parameterType="String" resultMap="CatResult">
        <include refid="selectCatVo"/>
        where a.id = #{id}
    </select>

    <insert id="insertCat" parameterType="Cat">
        insert into fy_pet_cat
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="breedId != null">breed_id,</if>
            <if test="birthDate != null">birth_date,</if>
            <if test="haveDate != null">have_date,</if>
            <if test="primeCost != null">prime_cost,</if>
            <if test="url != null">url,</if>
            <if test="state != null">state,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="breedId != null">#{breedId},</if>
            <if test="birthDate != null">#{birthDate},</if>
            <if test="haveDate != null">#{haveDate},</if>
            <if test="primeCost != null">#{primeCost},</if>
            <if test="url != null">#{url},</if>
            <if test="state != null">#{state},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateCat" parameterType="Cat">
        update fy_pet_cat
        <trim prefix="SET" suffixOverrides=",">
            <if test="breedId != null">breed_id = #{breedId},</if>
            <if test="birthDate != null">birth_date = #{birthDate},</if>
            <if test="haveDate != null">have_date = #{haveDate},</if>
            <if test="primeCost != null">prime_cost = #{primeCost},</if>
            <if test="url != null">url = #{url},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCatById" parameterType="String">
        delete from fy_pet_cat where id = #{id}
    </delete>

    <delete id="deleteCatByIds" parameterType="String">
        delete from fy_pet_cat where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
